<header>
    <nav class="flex flex-wrap sm:justify-start sm:flex-nowrap z-50 w-full bg-white border-b border-gray-200 text-sm py-3 sm:py-3 dark:bg-neutral-800 dark:border-neutral-700">
        <div class="relative max-w-[95rem] w-full mx-auto px-4 sm:items-center sm:justify-between sm:px-6 lg:px-8" aria-label="Global">
            <div class="flex items-center justify-between">
                <div class="hidden w-full text-gray-600 md:flex md:items-center">
                    <svg class="h-5 w-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M16.2721 10.2721C16.2721 12.4813 14.4813 14.2721 12.2721 14.2721C10.063 14.2721 8.27214 12.4813 8.27214 10.2721C8.27214 8.06298 10.063 6.27212 12.2721 6.27212C14.4813 6.27212 16.2721 8.06298 16.2721 10.2721ZM14.2721 10.2721C14.2721 11.3767 13.3767 12.2721 12.2721 12.2721C11.1676 12.2721 10.2721 11.3767 10.2721 10.2721C10.2721 9.16755 11.1676 8.27212 12.2721 8.27212C13.3767 8.27212 14.2721 9.16755 14.2721 10.2721Z"
                              fill="currentColor"/>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M5.79417 16.5183C2.19424 13.0909 2.05438 7.39409 5.48178 3.79417C8.90918 0.194243 14.6059 0.054383 18.2059 3.48178C21.8058 6.90918 21.9457 12.6059 18.5183 16.2059L12.3124 22.7241L5.79417 16.5183ZM17.0698 14.8268L12.243 19.8965L7.17324 15.0698C4.3733 12.404 4.26452 7.97318 6.93028 5.17324C9.59603 2.3733 14.0268 2.26452 16.8268 4.93028C19.6267 7.59603 19.7355 12.0268 17.0698 14.8268Z"
                              fill="currentColor"/>
                    </svg>
                    <span class="mx-1 text-sm">FR</span>
                </div>

                <div class="prose text-center font-mono w-full text-gray-700 md:text-center text-xl">
                    <h2><a href="{{ path('index') }}" class="no-underline">In vino verba</a></h2>
                </div>
                <div class="flex items-center justify-end w-full">
                    <div class="flex relative hs-dropdown [--strategy:static] [--strategy:absolute] [--adaptive:none]">
                        <button class="text-gray-600 focus:outline-none mx-2">
                            <span class="sr-only">Open user menu</span>
                            {{ ux_icon('mdi:user-outline', {class: 'size-5'}) }}
                        </button>

                        <div class="hs-dropdown-menu transition-[opacity,margin] sm:border duration-[150ms] hs-dropdown-open:opacity-100 opacity-0 hidden absolute right-0 z-10 mt-9 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                             role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                            <!-- Active: "bg-gray-100", Not Active: "" -->
                            <div class="border-b border-slate-300 dark:border-slate-700">
                                <div class="flex flex-col px-4 py-2">
                                    <span class="text-sm font-medium text-black dark:text-white">Bogdan Matvieiev</span>
                                    <p class="text-xs text-slate-700 dark:text-slate-300">b.matvieiev@proton.me</p>
                                </div>
                            </div>
                            <a href="#"
                               class="block px-4 py-2 text-sm text-gray-700 hover:bg-slate-800/5 hover:text-black focus-visible:bg-slate-800/10 focus-visible:text-black focus-visible:outline-none dark:bg-slate-800 dark:text-slate-300 dark:hover:bg-slate-100/5 dark:hover:text-white dark:focus-visible:bg-slate-100/10 dark:focus-visible:text-white"
                               role="menuitem" tabindex="-1" id="user-menu-item-0">Your Profile</a>
                            <a href="#"
                               class="block px-4 py-2 text-sm text-gray-700 hover:bg-slate-800/5 hover:text-black focus-visible:bg-slate-800/10 focus-visible:text-black focus-visible:outline-none dark:bg-slate-800 dark:text-slate-300 dark:hover:bg-slate-100/5 dark:hover:text-white dark:focus-visible:bg-slate-100/10 dark:focus-visible:text-white"
                               role="menuitem" tabindex="-1" id="user-menu-item-1">Settings</a>
                            <a href="#"
                               class="block px-4 py-2 text-sm text-gray-700 hover:bg-slate-800/5 hover:text-black focus-visible:bg-slate-800/10 focus-visible:text-black focus-visible:outline-none dark:bg-slate-800 dark:text-slate-300 dark:hover:bg-slate-100/5 dark:hover:text-white dark:focus-visible:bg-slate-100/10 dark:focus-visible:text-white"
                               role="menuitem" tabindex="-1" id="user-menu-item-2">Sign out</a>
                        </div>
                    </div>
                    <button class="text-gray-600 focus:outline-none mx-4" data-hs-overlay="#hs-cart">
                        <svg class="flex-shrink-0 size-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                             viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path>
                        </svg>
                    </button>
                    <div class="sticky top-0 inset-x-0 z-20 bg-white pl-2 dark:bg-neutral-900 dark:border-neutral-700">
                        <div class="max-w-3xl mx-auto py-3">
                            <!-- Navigation Toggle -->
                            <button type="button"
                                    class="flex justify-between gap-x-2 items-center w-full text-gray-500 hover:text-gray-600 dark:text-neutral-500 dark:hover:text-neutral-400"
                                    data-hs-overlay="#aplication-sidebar" aria-controls="aplication-sidebar" aria-label="Toggle navigation">
                                <svg class="flex-shrink-0 size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                     viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <line x1="3" x2="21" y1="6" y2="6"/>
                                    <line x1="3" x2="21" y1="12" y2="12"/>
                                    <line x1="3" x2="21" y1="18" y2="18"/>
                                </svg>
                            </button>
                            <!-- End Navigation Toggle -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="block py-3">
                <label for="icon" class="sr-only">Search</label>
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none z-20 ps-4">
                        <svg class="flex-shrink-0 size-4 text-gray-500 dark:text-neutral-500" xmlns="http://www.w3.org/2000/svg" width="24"
                             height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                             stroke-linejoin="round">
                            <circle cx="11" cy="11" r="8"/>
                            <path d="m21 21-4.3-4.3"/>
                        </svg>
                    </div>
                    <input type="text" id="icon" name="icon"
                           class="py-2 pe-4 ps-10 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
                           placeholder="Search">
                </div>
            </div>
        </div>
    </nav>

    <!-- Sidebar -->
    <div id="aplication-sidebar"
         class="hs-overlay hs-overlay-backdrop-open:backdrop-blur-[3px] hs-overlay-backdrop-open:bg-blue/30
        hs-overlay-open:translate-x-0 hidden translate-x-full fixed top-0 end-0 transition-all duration-300 transform h-full
        z-[80] w-8/12 lg:w-4/12 bg-white border-s border-gray-200 py-7 px-8 overflow-y-auto d[&::-webkit-scrollbar]:w-2
        [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100
        dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500 dark:bg-neutral-900 dark:border-neutral-700">

        <!-- Nav -->
        <nav id="sidebar-nav" class="relative space-y-8">
            <div class="flex justify-between items-center py-3 px-2 border-b dark:border-neutral-700" data-hs-overlay="#aplication-sidebar"
                 aria-controls="aplication-sidebar" aria-label="Toggle navigation">
                <h3 class="prose text-5xl text-gray-800 dark:text-white">
                    MENU
                </h3>
                <button type="button"
                        class="flex justify-center items-center size-12 text-sm font-semibold rounded-full border border-transparent text-gray-800 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-neutral-700"
                        data-hs-overlay="#hs-overlay-right">
                    <span class="sr-only">Close modal</span>
                    <svg class="flex-shrink-0 size-5 lg:size-7" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                         viewBox="0 0 24 24"
                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M18 6 6 18"></path>
                        <path d="m6 6 12 12"></path>
                    </svg>
                </button>
            </div>
            <ul class="prose prose-2xl prose-li:px-0 border-s border-gray-200 prose-a:no-underline prose-a:font-light prose-a:text-zinc-600 space-y-2 dark:border-neutral-800
                       prose-a:block prose-a:py-1 prose-a:ps-4 prose-a:-ms-px prose-a:border-s-2 prose-a:border-transparent"
                data-hs-scrollspy="#scrollspy">
                <li>
                    <a class="hover:border-gray-400 hover:text-zinc-950 dark:text-neutral-400 dark:hover:text-neutral-300 hs-scrollspy-active:font-medium hs-scrollspy-active:border-current hs-scrollspy-active:text-[#101827] dark:hs-scrollspy-active:text-[#FFF] {{ app.current_route == 'index' ? 'active' : '' }}"
                       href="{{ path('index') }}">Boutique</a></li>
                <li>
                    <a class="hover:border-gray-400 hover:text-zinc-950 dark:text-neutral-400 dark:hover:text-neutral-300 hs-scrollspy-active:font-medium hs-scrollspy-active:border-current hs-scrollspy-active:text-[#101827] dark:hs-scrollspy-active:text-[#FFF] {{ app.current_route == '' ? 'active ' : '' }}"
                       href="#">Wins</a>
                    <ul class="prose prose-xl prose-li:pl-10 px-0"
                        data-hs-scrollspy="#scrollspy">
                        <li class="block -ms-px border-s-2 border-transparent hover:border-gray-400 dark:text-neutral-400 dark:hover:text-neutral-300 hs-scrollspy-active:font-medium hs-scrollspy-active:border-current hs-scrollspy-active:text-[#101827] dark:hs-scrollspy-active:text-[#FFF] {{ app.current_route == '' ? 'active' : '' }}">
                            <div>
                                <a class="hover:text-zinc-950 relative last-of-type:before:absolute before:absolute before:top-1/2 before:start-0 before:-translate-y-1/2 before:size-1 before:bg-red-500 before:rounded-full dark:text-neutral-400 dark:before:bg-neutral-600"
                                        href="{{ path('index') }}">Rouges</a>
                            </div>
                        </li>
                        <li class="block -ms-px border-s-2 border-transparent hover:border-gray-400 dark:text-neutral-400 dark:hover:text-neutral-300 hs-scrollspy-active:font-medium hs-scrollspy-active:border-current hs-scrollspy-active:text-[#101827] dark:hs-scrollspy-active:text-[#FFF] {{ app.current_route == '' ? 'active' : '' }}">
                            <div>
                                <a class="hover:text-zinc-950 block px-4 relative last-of-type:before:absolute before:absolute before:top-1/2 before:start-0 before:-translate-y-1/2 before:size-1 before:bg-gray-300 before:rounded-full dark:text-neutral-400 dark:before:bg-neutral-600"
                                        href="{{ path('index') }}">Blancs</a>
                            </div>
                        </li>
                        <li class="block -ms-px border-s-2 border-transparent hover:border-gray-400 dark:text-neutral-400 dark:hover:text-neutral-300 hs-scrollspy-active:font-medium hs-scrollspy-active:border-current hs-scrollspy-active:text-[#101827] dark:hs-scrollspy-active:text-[#FFF] {{ app.current_route == '' ? 'active' : '' }}">
                            <div>
                                <a class="hover:text-zinc-950 block px-4 relative last-of-type:before:absolute before:absolute before:top-1/2 before:start-0 before:-translate-y-1/2 before:size-1 before:bg-yellow-400 before:rounded-full dark:text-neutral-400 dark:before:bg-neutral-600"
                                        href="{{ path('index') }}">Champagnes</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="hover:border-gray-400 hover:text-zinc-950 dark:text-neutral-400 dark:hover:text-neutral-300 hs-scrollspy-active:font-medium hs-scrollspy-active:border-current hs-scrollspy-active:text-[#101827] dark:hs-scrollspy-active:text-[#FFF] {{ app.current_route == '' ? 'active ' : '' }}"
                       href="#">Coffrets</a></li>
                <li>
                    <a class="hover:text-zinc-950 hover:border-gray-400 dark:text-neutral-400 dark:hover:text-neutral-300 hs-scrollspy-active:font-medium hs-scrollspy-active:border-current hs-scrollspy-active:text-[#101827] dark:hs-scrollspy-active:text-[#FFF] {{ app.current_route == '' ? 'active ' : '' }}"
                       href="#">Fournisseurs</a></li>
                <li>
                    <a class="hover:border-gray-400 hover:text-zinc-950 dark:text-neutral-400 dark:hover:text-neutral-300 hs-scrollspy-active:font-medium hs-scrollspy-active:border-current hs-scrollspy-active:text-[#101827] dark:hs-scrollspy-active:text-[#FFF] {{ app.current_route == '' ? 'active ' : '' }}"
                       href="#">À propos</a></li>
            </ul>
            <a href="sdf" class="block pt-2 pb-2 prose prose-xl text-zinc-600 hover:text-zinc-950 dark:text-white">
                LOGIN
            </a>
            <a href="sdf" class="prose prose-xl text-zinc-600 hover:text-zinc-950 dark:text-white">
                CRÉÉ MON COMPTE
            </a>
        </nav>
    </div>
    <!-- End Sidebar -->
</header>
<!-- ========== END MAIN CONTENT ========== -->
